@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .white-gradient {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.6),
      transparent
    );
  }
  .deck-sidebar {
    background-color: #222f3e;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  }
  .sidebar-container {
    width: 400px;
    position: sticky;
    top: 0;
  }
  .main-content {
    width: calc(100vw - 400px);
  }
  .deck-frame-grey {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #dfdfdf;
    border-radius: 12px;
    padding: 0.75rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  }
  .deck-frame-white {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 0.75rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .sidebar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #818181;
  }
  .click-here {
    color: #222f3e;
    font-weight: 800;
  }
  .filter-input {
    @apply w-20 rounded-md border-2 text-center;
  }
    .range-slider {
    width: 350px;
    margin: auto;
    text-align: center;
    position: relative;
    height: 3.4rem;
  }

  .range-slider svg,
  .range-slider input[type=range] {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  input[type=number] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1em;
    margin: 6px;
    border-radius: 5px;
    /* -moz-appearance: textfield; */
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type=number]:invalid,
  input[type=number]:out-of-range {
    border: 2px solid #ff6347;
  }

  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497e3;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: #2497e3;
  }

  input[type=range]:focus::-ms-fill-upper {
    background: #2497e3;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }

  input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }

}
